<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" name="Admin"><a href="<%= erb '/logout'  %>">logout</a></button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 text-center">
      <h1>Hello Owner, Review you Comments and Images and Upload</h1>
    </div>

  </div>

</div>

<div class="container">
<div class="col-md-12">
  <div class="row">
    <form method='POST' action='/user' enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputFile" style="font-size: 30px;">Image input</label>
        <input type="file" name='file' class='form-control' id="exampleInputFile">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
</div>


<div class="container">
  <% @images.each do | img | %>
    <div class="well">
      <div class="media">

      	<a class="pull-left" href="">
    		    <img class="media-object" src="<%= img.image.url %>" style="width: 192px;">
  		  </a>

    		<div class="media-body">
      		  <h4 class="media-heading">Image</h4>
            <p class="text-right"></p>
            <% img.comments.each do | comment | %>
              <p><%= comment.comment %></p>
            <% end %>
    		</div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @images , renderer: BootstrapPagination::Sinatra %>    </div>
  </div>
</div>
