
<!-- BREADCRUMB -->
<section id='breadcrumb'>
    Recent Images
</section>
<!-- BREADCRUMB -->

<div class='container container-padding'>
  <div class="pics-grid">
    <% @images.each do |img| %>
        <div class="pics-grid-item">
          <a href="/comments/<%= img.id%>">
            <img src='<%= img.image.url %>' />
          </a>
          <div class='pics-grid-item-details'>
              <i class='fa fa-comment'></i>
              <%= img.comments.count %> comments
          </div>
        </div>
      <% end %>
  </div>

  <div class="text-center">
    <%= will_paginate @images , renderer: BootstrapPagination::Sinatra %>
  </div>
</div>
