<!doctype html>
<html>
  <head>
      <meta charset="utf-8"></meta>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
      <link rel='stylesheet' href='/css/style.css'></link>
      <link rel='stylesheet' href='/css/comment.css'></link>
      <link rel='stylesheet' href='/css/login.css'></link>
      <link rel='stylesheet' href='/css/detail.css'></link>

  </head>
  <body>

      <!-- HEADER -->
      <header id='header'>
          <div id='brand'>
            <a href="/">
              SimPlixel
            </a>
          </div>
          <nav id='main-menu'>
              <ul>
                  <li>
                    <a href="/">
                      Home
                    </a>
                  </li>
                  <% if !authenticated? %>
                  <li>
                    <a href="/login">
                      Login
                    </a>
                  </li>
                  <% end %>
                  <% if authenticated? %>
                  <li>
                    <a href="/admin/">
                      Admin
                    </a>
                  </li>
                  <li>
                    <a href="/logout">
                      Logout
                    </a>
                  </li>
                  <% end %>
              </ul>
          </nav>
      </header>
      <!-- HEADER -->

      <!-- HERO -->
      <section id='hero'>

        <div class='message'>
          <h2>Welcome, Home!</h2>
          <h3>Open Your world of Creativity</h3>
        </div>

      </section>
      <!-- HERO -->

      <!-- MAIN CONTENT -->
      <main>
      <%= yield %>
      </main>
      <!-- MAIN CONTENT -->

  </body>
</html>

<footer>

<div class="footer">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; SimPlixel 2015</p>
        </div>
    </div>
  </div>
</div>
    <!-- /.row -->
</footer>
