<form class="" action="/login" method="post">
  <br />
  <input type="text" name="username" value="">
  <br />
  <input type="password" name="password" value="">
  <br />
  <button type="submit" name="button">Submit</button>
</form>
