<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>File uploader!</h1>

        <form method='POST' action='/' enctype="multipart/form-data">
          <input type='file' name='file' class='form-control'>
          <button type='submit'> Add</button>
        </form>
    </body>
</html>
