<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome!</h1>

    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">

            <div class="container">
              <div class="row">
                  <% @images.each do |img| %>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail" style="width: 350px;">
                      <a href="/comments/<%= img.id%>">
                      <img src='<%= img.image.url %>' />
                      </a>
                    </div>
                </div>
                  <% end %>
              </div>
            </div>
      <%= will_paginate @images , renderer: BootstrapPagination::Sinatra %>
    </div>
  </div>
</div> -->
