

body {
    background-color:white;
    background-size: cover;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
.post

{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}

.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
    width: 187px;

}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.button-login {
  text-align: right;
  font-size: 20px;
  margin-bottom: 50px;
}

.button-login a{
  margin-right: 27px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(204, 204, 204, 0.58);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


  .logout-admin {
    color: #0E0C0C;
    font-size: 20px;
    text-align: right;
  }

  .logout-admin a{
    margin-right: 27px;
  }

  .upload-pic {
    margin-bottom: 17px;
  }

  .h1, h1 {
      font-size: 36px;
      font-weight: 700;
    }

  .pic-dash img{
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 364px;
  }

  .text-center-here {
    text-align: center;
    font-weight: 700;
  }

  .media-object {
    display: block;
    width: 698px;
}

  .footer p{
    display: block;
    margin: auto;
    text-align: right;
    color: white;
    margin-bottom: 6px;
    position: fixed;
    bottom: 0;
    right: 35px;
    background-color: rgba(0,0,0, 0.8);
    padding: 5px;
    border-radius: 8px;
    z-index: 1000;
  }
